<!--Home Page 
Displays the events users have hosting or joined -->

<h1>Splash</h1>
<h4>Hosting</h4>
<div ng-repeat="hostEvent in data.hosting | orderBy:'date'">
  <div>
    {{ hostEvent.title }}<br />
    {{ hostEvent.description }}<br />
    {{ hostEvent.date }}<br />
    {{ hostEvent.guests }}
  </div>
</div>
<h4>Attending</h4>
<div ng-repeat="guestEvent in data.attending | orderBy:'date'">
  <div>
    {{ guestEvent.title }}<br />
    {{ guestEvent.description }}<br />
    {{ guestEvent.date }}<br />
    {{ guestEvent.guests }}
  </div>
</div>
