<!--Home Page
Displays the events users have hosting or joined -->
<!--<div class="container" style="background:silver">-->
  <!--<h1>Splash</h1>-->
  <div class="col-lg-12" style="padding-left: 100px" >
    <div id="hostingBackground">
    <h1 class="red">Hosting</h1><br>
    <div ng-repeat="hostEvent in data.hosting | orderBy:'date' | date :'MM/dd/yyyy'">
      <div class="white">
        {{ hostEvent.title }}<br />
        Host: {{ hostEvent.host }} <br>
        When: {{ hostEvent.date | date:"MM/dd/yyyy 'at' h:mma"}}<br />
        Where: {{ hostEvent.address }}<br />
        {{ hostEvent.city + ', ' + hostEvent.state + ' ' + hostEvent.zip}}<br />
        Guests:
        <ul>
          <li ng-repeat="guest in hostEvent.guests"> {{ guest }}</li>
        </ul>
        Seats Remaining: {{hostEvent.guestsCap - hostEvent.guests.length}}<br />
        {{ hostEvent.description }}<br />
      </div>
    </div><br>
    </div>

    <div id="attendingBackground">
      <h1 class="red">Attending</h1>
      <div ng-repeat="guestEvent in data.attending | orderBy:'date'" style="color: black; font-weight: bold">
        <div>
          {{ guestEvent.title }}<br />
          Host: {{ guestEvent.host }} <br>
          When: {{ guestEvent.date | date:"MM/dd/yyyy 'at' h:mma"}}<br />
          Where: {{ guestEvent.address }}<br />
          {{ guestEvent.city + ', ' + guestEvent.state + ' ' + guestEvent.zip}}<br />
          Guests:
          <ul>
            <li ng-repeat="guest in guestEvent.guests"> {{ guest }}</li>
          </ul>
          Seats Remaining: {{guestEvent.guestsCap - guestEvent.guests.length}}<br />
          {{ guestEvent.description }}<br />
        </div>
      </div>
    </div>
  </div>
<!--</div>-->